.App {
  
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img {

  width: 100%;
  height:100% ;
}

.contenedor{
  background-image: '/public/img/7.jpg';
  display:flex;
 
  width: 95%;
  justify-content: space-around;
  align-items: center;
  flex-wrap:wrap;
  text-align: center;
 
  padding: 20px 0;
  font-size: 9px;
}
.card {
  background-image: '/public/img/7.jpg';
  display: grid;
  grid-template-columns: auto auto ;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  margin-top: 10px;
 
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}
.whish{
  display: grid;
grid-template-columns:  auto ;
border-radius: 5px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: 500px;
margin-top: 10px;
}
button:hover {
background-color: bisque;

}
button:active {
  background-color: rgb(131, 69, 239);
}
.container {
  padding: 2px 16px;

}
body{
  width: 100%;
  background-image: '/public/img/7.jpg';
  background-size: contain;  
}
.body {
  width: 100%;
  background-image: '/public/img/7.jpg';
  background-size: cover;
}
@media only screen and (max-width: 600px) {
  
  
 
}